.bg-black {
    background-color: rgb(40, 40, 40);
    margin-top: auto;
}

#footer {
    margin-top: auto;
    background: #2599C2;
    color: white;
}

ul {
    align-items: center;
}

ul li {
    width: auto!important;
}

ul li a {
    color: white!important;
    font-size: 15px;
}

@media (max-width: 992px) {
    .separate {
        display: none;
    }
    ul {
        align-items: center;
    }
    .copyright {
        text-align: center;
        padding: 0;
    }
    #navbar {
        margin-left: 16px!important;
        padding-left: 16px!important;
    }
    /* #logos-bot-left {
        margin-left: 0px!important;
        padding-left: 0px!important;
    }
    #logos-bot-right {
        margin-right: 8px!important;
        padding-right: 8px!important;
    } */
}

.copyright {
    /* padding: 0 16px; */
}

.logo-footer {
    margin: 0 16px;
    height: 30px;
}